@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf');
}

body {
  position: relative;
  background-color: #000;
	color: grey;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.container {
  position: absolute;
  font:  2.16vw/1.25 Perpetua;
  top: 5vw;
  left: 3vw;
  width: 90vw;
  color: ivory;
}

.epigraph {
	font-style: italic;
	font-size: 3.5vw;
}

.readerWindow {
  width: 70vw;
  text-align: center;
}

.text {
  opacity: .3;
  transition: opacity .5s ease-in-out;
}

.text.visible {
  opacity: 1;
}
