@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap');

@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf');
}

body {
  position: relative;
  background-color: white;
  /*border: 1px dashed #ffffff;*/
}

#display {
  font-family: 'Source Serif Pro',serif;
  font-size: 16px;
  user-select: none;
}

#byline {
  z-index: 10;
  position: fixed;
}

.container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
