@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf');
}

body {
  position: relative;
  background-color: white;
  font-size: 16px;
  /*border: 1px dashed #ffffff;*/
}

#byline {
  z-index: 10;
  position: fixed;
}

.container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
