:root {
  --bgcol: rgb(243,242,255);
  --copyfont: Arial, sans-serif;
  --headfont: HeadingsFontFamily, 'Courier New', serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
	opacity: .5;
}

body {
  position: relative;
  font: 1.6vw/1.6 var(--copyfont);
  background-color: var(--bgcol);
}

h1 {
  font: 3vw var(--headfont);
  line-height: .9em;
}

.annual {
  margin:0; /*edited CV 20210513*/
}

.headincopy {
  font: 1em var(--headfont);
  display: inline-block;
  height: 1em;
}

.title {
  font: 3.2vw/1 var(--copyfont);/*bigger CV 04182021*/
  display:inline-block;/*added CV 04182021*/
  margin-bottom:.2em;/*added CV 04182021*/
}

.entry:nth-child(odd) {
  text-align: right;
}

.logo {
  font: 1em var(--copyfont);
  display: inline-block;
  height: 1em;
}

.logokern {
  font: 1em var(--headfont);
  margin-left: -.06em;
  letter-spacing: -.1em;
}
