@font-face {
  font-family: 'HeadingsFontFamily_Light';
  src: url('fonts/PrestigeEliteStd.woff2');
}

@font-face {
  font-family: 'HeadingsFontFamily';
  src: url('fonts/PrestigeEliteStd-Bd.woff2');
}

a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
	opacity: .5;
}

p {
  font: var(--cpf);
	margin-block-start: 0px;
  margin-block-end: 0px;
}

.aboutcopy {
  position: absolute;
  top: var(--inc);
  left: var(--ind);
  width: 60vw;
  line-height: 1.2em;
}

.banner {
  position: absolute;
  top: calc(var(--fbu) * 3);
  left: var(--inb);
  font: var(--hdf);
  line-height: .9em;
}

.copy {
  position: absolute;
  top: var(--inc);
  left: var(--ind);
  width: 60vw;
}

.cpf.logo {
  font: var(--cpf);
  font-size: 1.4em;/*bigger CV 04182021*/
}

.menu {
  position: absolute;
	top: var(--fbu);
	left: var(--fbu);
  font-family: HeadingsFontFamily_Light, 'Courier New', serif;
	font-size: calc(var(--fbu) * .8);
  vertical-align: top;
}

.none {
	display: none;
}

.toc {
  position: absolute;
  font: var(--hdf);
  top: var(--ind);
  left: var(--ind);
  width: 60vw;
  line-height: .8em; /* made smaller CV 04182021*/
}

.subhead {
  margin-left: -10vw;
  margin-top: 5vw;
}

#byline {
  font: lighter 1vw/6vw Arial;
  color: gray;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease-in-out 0s;
}

#byline:hover {
  opacity: 1;
}

#bytext {
  padding-top: 1vw;
  vertical-align: top;
  cursor: default;
}

#items {
	position: absolute;
  white-space: nowrap;
	top: .5vw;
	left: 70vw;
}

#logo {
  position: absolute;
  left: var(--ina);
}

#rheader {
  position: absolute;
  white-space: nowrap;
  top:  .35vw;
  left: 18vw;
}

img#laob {
  height: 4vw;
  padding: 1vw;
}
