body {
}

a {
	color: gray;
}

a:hover {
	color: silver;
}

p {
	margin-block-start: 0px;
  margin-block-end: 0px;
}

.banner {
	position: relative;
	min-height: 6vw;
	font-variant: small-caps;
	font-size: 3vw;
	top: 2vw;
}

.banner-logo {
	position: absolute;
	left: 3vw;
}

#logoimg {
	width: 10vw;
}

.banner-copy {
	position: absolute;
	left: 15vw;
}

.main {
	position: relative;
	
}

.main-copy {
	position: absolute;
	left: 15vw;
	width: 80%;
}

.trans {
	color:transparent;
}
