@font-face {
  font-family: didot;
  font-style:  normal;
  src: url('/fonts/Didot.woff2') format('woff2'),
    url('/fonts/Didot.ttf') format('truetype');
}

@font-face {
  font-family: didot;
  font-style:  italic;
  src: url('/fonts/Didot-Italic.woff2') format('woff2'),
    url('/fonts/Didot-Italic.ttf') format('truetype');

}

body {
  position: relative;
  background-color: rgb(72, 72, 72);
	color: grey;
  cursor: none;
  /*border: 1px dashed #ffffff;*/
}

.textcontainer {
  position: absolute;
  top:  5vw;
  left:  5vw;
  cursor: none;
  min-height: 31em;
  font: 2vw didot;
}

.text {
  position: absolute;
  color: rgba(255,255,255,0);
  transition: color 2s ease-in-out;
}

.text.visible {
  color: rgba(255,255,255,255);
    /* starts readable */
}

.none {
  display: none;
}

.trans { color:transparent; }
