@font-face {
  font-family: 'MinionPro';
  src: url('/fonts/MinionPro-Regular.otf');
}

.text-title, .text-cell, .msg, label, .locate-button, option {
  font-family: 'MinionPro', monospace, serif;
}

.none {
  display: none;
}

table.text-map {
  border-collapse: collapse;
  padding: 5vw;
}

tr.text-row {
  border-top: none;
  border-bottom: none;
}

td.text-cell {
  font-size: 3.5vw;
  text-align: center; 
  vertical-align: middle;
  padding: 0.25vw; 
  margin: 0.5vw;
  border-top: none;
  border-bottom: none;
}

.msg {
  width: 80vw;
  margin: 3vw;
  font-size: large;
  color: darkslategrey;
}

label {
  font-size: large;
  color: darkslategrey;
}

.coord-input {
  margin: 2vw;
  color: darkslategrey;
}

.loc-select {
  margin: 2vw;
  color: darkslategrey;
}

.locate-button {
  font-size: large;
}

 /* unvisited link */
a.locate-button:link {
  color:  purple;;
}

/* visited link */
a.locate-button:visited {
  color:  purple;;
}

/* mouse over link */
a.locate-button:hover {
  color: red;
}

/* selected link */
a.locate-button:active {
  color:  purple;;
}