@font-face {
  font-family: 'MinionPro';
  src: url('../../fonts/MinionPro-Regular.otf');
}

body {
  position: relative;
  background-color: #000;
	color: grey;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.shimmer {
  position: absolute;
  /*min-width: 960px;*/
  width: 84vw;
  top: 2vw;
  left: 4vw;
  text-align: center;
  /*min-height: 680px;*/
  /*border: 1px dashed #ff0000;*/
}

.mono {
  color: rgba(255,255,255,255);
  font-family: 'MinionPro', serif;
  font-size: 3.4vw;
  line-height: 5vw;
}
 
.none {
  display: none;
}

.trans { color:transparent; }

#plane {
  transform: perspective(2400px) rotateX(32deg);
}

