img#laob {
  height: 4vw;
  padding: 1vw;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease-in-out 0s;
}

img#laob:hover {
  opacity: 1;
}

video {
  position: absolute;
  left: 9vw;
  top:  4.5vw;
  width: 80vw;
}

video:focus {
  outline: none !important;
}

body {
  position: relative;
  background-color: #000;
	color: grey;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.none {
  display: none;
}

.trans { color:transparent; }
