video {
  position: absolute;
  left: 9vw;
  top:  6vw;
  width: 80vw;
}

video:focus {
  outline: none !important;
}

body {
  position: relative;
  background-color: #000;
	color: grey;
  cursor: none;
  overflow: hidden;
  /*border: 1px dashed #ffffff;*/
}

.none {
  display: none;
}

.trans { color:transparent; }
